:root {
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);
  --grey-lighter: hsl(0, 0%, 86%);

  --primary: hsl(171, 100%, 41%);

  --pink: rgb(226, 106, 106);
  --pink-light: rgb(224, 130, 131);
  --pink-lighter: rgb(241, 169, 160);
}
