.hero-body{
    border-bottom: solid 1px var(--grey-lighter);
}

.hero-body h1{
    color: var(--pink);
    padding-left: 1.2rem;
}

.hero-body p{
    color: var(--pink-light);
}

.date-info{
    display: flex;
}

.button{
    top: -1.2rem;
    left: 1.5rem;
}

.button .button-text{
    display: none;
}

.button:hover .button-text{
    display: inline;
}