@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");

:root {
  --title-font: "Major Mono Display", monospace;
  --body-font: "Roboto Mono", monospace !important;
}

html,
body,
input,
p,
span{
  font-family: var(--body-font) !important;
  font-size: 14px;
}

.title {
  font-family: var(--body-font);
}
