<div class="timeline-marker is-icon">
  <todo-icon [content]="content"></todo-icon>
</div>
<div class="timeline-content task" [ngClass]="{'disabled': isCompleted()}">
  <div class="columns is-mobile">
    <div class="column is-10">
      <div class="task-info">
        <todo-form [content]="content"></todo-form>
      </div>
    </div>
    <div class="column is-2">
      <div class="task-action" [ngClass]="{'-show-button': showActionButton }">
        <a *ngIf="!content.status.completed" (click)="deleteTask(content.id)">
          <span class="icon has-text-primary"> <i class="fas fa-times"></i></span></a>
      </div>
    </div>
  </div>
</div>