.main{
    min-height: 100vh;
    display: flex;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.content{
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); /* 018 Cloudy Knoxville */
}