<!-- <main class="container is-fullhd">
  <div class="columns">
    <div class="column is-3 sidebar  has-background-warning">
      <div class="sidebar-item main-side has-background-primary">
        fdhjfhjsk
      </div>
      <div class="sidebar-item sec-side has-background-info">
        fdhjfhjsk
      </div>
    </div>
    <div class="column has-background-danger">Auto</div>
  </div>
</main> -->

<div class="main">
  <sidebar></sidebar>
  <div class="content">
    <div class="columns">
      <div class="column">
        <div class="hero">
            <div class="hero-body">fdsfsds</div>
        </div>
      </div>
    </div>
  </div>
</div>