@import "../../../../styles/colors.css";

.timeline{
  margin-left: 1.7rem;
}

.timeline-item{
  padding-bottom: 0;
  margin-left: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.list-item{
  display: flex;
  align-items: center;
}

todo-list-item{
  display: block;
  width: 100%;
}