@import "../../../styles/colors.css";

.box{
  padding: 0;
  margin: 0;
  border: solid 1px var(--grey-lighter);
  border-top: 0;
}

.box:first-child{
  border-top: solid 1px var(--grey-lighter);
}

.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline-item{
  padding-bottom: 0;
  margin-left: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
}

todo-list-item{
  display: block;
  width: 100%;
}