<div class="dropdown is-fullwidth">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
      <span>Meus cadernos</span>
      <span class="icon is-small has-text-right">
        <i class='uil uil-angle-down'></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
    <div class="dropdown-content">
      <a href="#" class="dropdown-item">
        This is a link
      </a>
    </div>
  </div>
</div>